[Unit]
Description = Wake-On-LAN listener that runs kodi.service

[Service]
Type = simple
ExecStart = python3 -m kodi_wol_listener --debug-level debug
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=basic.target
